<%@ page contentType="text/html;charset=UTF-8" %>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Aplicaciones Grails</title>
  </head>
  <body>
    <h1>Ingresa Al Formulario Sus Datos</h1>
    <form controller="datos" action ="ingresar">

      <h2>Ingrese Los Datos: </h2>
       Cedula=     <input type="text" name="Cedula"/><br/>
       Nombre=     <input type="text" name="Nombre"/><br/>
       Apellido=   <input type="text" name="Apellido"/><br/>      
              <input type="submit"  value="Enviar!"/><br/>
    </form>
  </body>
</html>