<%@ page contentType="text/html;charset=UTF-8" %>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Aplicaciones Grails</title>
    
    <style type="text/css">
    .Estilo16 {
	font-family: Calibri;
	font-weight: bold;
	font-size: 18px;
        color: #0099FF;
    }
    
    .Estilo1 {font-family: "Calibri";
	font-weight: bold;}
</style>
  </head>
  <body>    
    
    <p align="center" class="Estilo16"  > Sus Datos Ingresados Fueron : </p>
  
  <table table width="38%" border="1" align="center" cellpadding="1" cellspacing="1">
  <tr>
    <th colspan="2" scope="col" class="Estilo16" >Sus Datos Son</th>
  </tr>
  <tr>
    <td><p class="Estilo16" >Su Nombre es:</p>
    <td><p class="Estilo1" > ${mensajenombre} </p></td>
  </tr>
  <tr>
    <td><p class="Estilo16" >Su apellido es :</p> </td>
    <td><p class="Estilo1" > ${mensajeapellido} </p></td>
  </tr>
  <tr>
    <td><p class="Estilo16" >Su Cedula es :</p></td>
    <td><p class="Estilo1" > ${mensajecedula} </p></td>
  </tr>
</table>
    <input type="button" name="boton" id="boton" value="Regresar" onclick="history.back()"/>
  </body>
</html>